.get-started {
  background-image: url('../../../assertions/get-started/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
}

.get-started__container {
  height: 100%;
  padding-top: 90px;

  @media (max-width: 1000px) {
    padding-top: 220px;
  }
}



.get-started__body {}

.get-started-info {
  padding-top: 220px;
  padding-bottom: 185px;
  position: relative;

  &::before {
    content: "";
    background-color: rgba(80, 150, 217, 0.8);
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    bottom: 150px;
    left: -160px;
    z-index: 1;

    @media (max-width: 768.98px) {
      content: none;
    }
  }
}

.get-started-info>* {
  position: relative;
  z-index: 10;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.get-started-info__title {
  max-width: 770px;
  color: #ffffff;
  font-size: 60px;
  font-style: normal;
  line-height: 80px;

  @media (max-width: 480.98px) {
    font-size: 48px;
  }
}

.get-started-info__text {
  max-width: 470px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;

  /* 133.333% */
  @media (max-width: 480.98px) {
    font-size: 20px;
  }
}

.get-started-info__button {
  padding: 23px 40px;
}
